#!/bin/bash

rm -rf {{NameNode-shared}};
mkdir -p {{NameNode-shared-fsimage-0}};
mkdir -p {{NameNode-shared-fsedits-0}};
mkdir -p {{NameNode-shared-fsimage-1}};
mkdir -p {{NameNode-shared-fsedits-1}};
